In [1]:
import pandas as pd
import json
import joblib
import numpy as np

In [2]:
data = { 
    'company': 'XYZ pvt ltd', 
    'location': 'London', 
    'info': { 
        'total':[0,1,2,3,4,5,6,7,8,9],
        'president': 'Rakesh Kapoor', 
        'contacts': { 
            'email': 'contact@xyz.com', 
            'tel': '9876543210'
        }
    }
}

In [3]:
pd.json_normalize(data)

,company,location,info.total,info.president,info.contacts.email,info.contacts.tel
0,XYZ pvt ltd,London,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",Rakesh Kapoor,contact@xyz.com,9876543210

In [4]:
data = [ 
    { 
        'id': '001', 
        'company': 'XYZ pvt ltd', 
        'location': 'London', 
        'info': { 
            'president': 'Rakesh Kapoor', 
            'contacts': { 
                    'email': 'contact@xyz.com', 
                    'tel': '9876543210'
            } 
        } 
    }, 
    { 
        'id': '002', 
        'company': 'PQR Associates', 
        'location': 'Abu Dhabi', 
        'info': { 
            'president': 'Neelam Subramaniyam', 
            'contacts': { 
                    'email': 'contact@pqr.com', 
                    'tel': '8876443210'
            } 
        } 
    } 
] 

pd.json_normalize(data)

,id,company,location,info.president,info.contacts.email,info.contacts.tel
0,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
1,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210

In [5]:
data = { 
    'company': 'XYZ pvt ltd', 
    'location': 'London', 
    'info': { 
        'president': 'Rakesh Kapoor', 
        'contacts': { 
            'email': 'contact@xyz.com', 
            'tel': '9876543210'
        } 
    }, 
    'employees': [ 
        {'name': 'A'}, 
        {'name': 'B'}, 
        {'name': 'C'} 
    ] 
} 
df = pd.json_normalize(data) 
df

,company,location,employees,info.president,info.contacts.email,info.contacts.tel
0,XYZ pvt ltd,London,"[{'name': 'A'}, {'name': 'B'}, {'name': 'C'}]",Rakesh Kapoor,contact@xyz.com,9876543210

In [6]:
df = pd.json_normalize(data, record_path=['employees'], meta=[ 
                  'company', 'location', ['info', 'president']]) 
df

  name      company location info.president
0    A  XYZ pvt ltd   London  Rakesh Kapoor
1    B  XYZ pvt ltd   London  Rakesh Kapoor
2    C  XYZ pvt ltd   London  Rakesh Kapoor

In [213]:
data = [ 
    { 
        'id': '001', 
        'company': 'XYZ pvt ltd', 
        'location': 'London', 
        'info': { 
            'president': 'Rakesh Kapoor', 
            'contacts': { 
                    'email': 'contact@xyz.com', 
                    'tel': '9876543210'
            } 
        }, 
        'employees': [ 
            {'name': 'A'}, 
            {'name': 'B'}, 
            {'name': 'C'} 
        ] 
    }, 
    { 
        'id': '002', 
        'company': 'PQR Associates', 
        'location': 'Abu Dhabi', 
        'info': { 
            'president': 'Neelam Subramaniyam', 
            'contacts': { 
                    'email': 'contact@pqr.com', 
                    'tel': '8876443210'
            } 
        }, 
        'employees': [ 
            {'name': 'L'}, 
            {'name': 'M'}, 
            {'name': 'N'} 
        ] 
    } 
] 
  
df = pd.json_normalize(data, record_path=['employees'], meta=[ 
                       'company', 'location', ['info', 'president',]]) 
df

  name         company   location       info.president
0    A     XYZ pvt ltd     London        Rakesh Kapoor
1    B     XYZ pvt ltd     London        Rakesh Kapoor
2    C     XYZ pvt ltd     London        Rakesh Kapoor
3    L  PQR Associates  Abu Dhabi  Neelam Subramaniyam
4    M  PQR Associates  Abu Dhabi  Neelam Subramaniyam
5    N  PQR Associates  Abu Dhabi  Neelam Subramaniyam

In [ ]:
def parse_norm(norm):

In [202]:
def get_dict_cols(data):
    to_parse = []
    for col in data:
        if any([isinstance(i, dict) for i in data[col].values]):
            to_parse.append(col)
    return to_parse

def get_list_cols(data):
    to_parse = []
    for col in data:
        if any([isinstance(i, list) for i in data[col].values]):
            to_parse.append(col)
    return to_parse

In [203]:
pd.json_normalize(data, record_path=['employees'], meta=['id','company','location',
                                                         ['info','president'],
                                                         ['info','contacts','email'],
                                                        ['info','contacts','tel']])

,name,id,company,location,info.president,info.contacts.email,info.contacts.tel
0,A,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
1,B,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
2,C,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
3,L,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210
4,M,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210
5,N,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210

In [209]:
def parse_nested_dataframe(dataframe, orig_json):
    list_cols = get_list_cols(dataframe)
    meta_cols = None
    tmp = dataframe.copy()
    print('lists:', list_cols)
    if len(list_cols) > 0:
        meta_cols = [i.split('.') if '.' in i else i for i in tmp]
        meta_cols = [i for i in meta_cols if i not in list_cols]
        tmp = pd.json_normalize(data, record_path=list_cols, meta=meta_cols)
        tmp = parse_nested_dataframe(tmp, orig_json)
    return tmp, list_cols, meta_cols

In [210]:
norm = pd.json_normalize(data)
df, path, meta = parse_nested_dataframe(norm, data)

lists: ['employees']
lists: []

# Testes

In [167]:
def parse_nested_dataframe(dataframe, orig_json):
    list_cols = get_list_cols(dataframe)
    list_cols = [i for i in list_cols if '.' not in i]
    tmp = dataframe.copy()
    print('lists:', list_cols)
    if len(list_cols) > 0:
        meta_cols = [i.split('.') if '.' in i else i for i in tmp]
        meta_cols = [i for i in meta_cols if i not in list_cols]
        tmp = pd.json_normalize(data, record_path=list_cols, meta=meta_cols)
        tmp = parse_nested_dataframe(tmp, orig_json)
    list_cols = get_list_cols(tmp)
    if len(list_cols) > 0:
        tmp = pd.concat([tmp, pd.json_normalize(tmp[list_cols])])
    return tmp

In [168]:
data = [ 
    { 
        'id': '001', 
        'company': 'XYZ pvt ltd', 
        'location': 'London', 
        'info': { 
            'president': 'Rakesh Kapoor', 
            'contacts': { 
                    'email': 'contact@xyz.com', 
                    'tel': '9876543210',
                    'preferences':[{'fruits':'orange'},{'time':'noon'}],
            } 
        }, 
        'employees': [ 
            {'name': 'A'}, 
            {'name': 'B'}, 
            {'name': 'C'} 
        ] 
    }, 
    { 
        'id': '002', 
        'company': 'PQR Associates', 
        'location': 'Abu Dhabi', 
        'info': { 
            'president': 'Neelam Subramaniyam', 
            'contacts': { 
                    'email': 'contact@pqr.com', 
                    'tel': '8876443210',
                    'preferences':[{'fruits':'lime'},{'time':'evening'}]
            } 
        }, 
        'employees': [ 
            {'name': 'L'}, 
            {'name': 'M'}, 
            {'name': 'N'} 
        ] 
    } 
]

In [191]:
norm = pd.json_normalize(data, meta=['id','company',
                                     ['info','president'],
                                     ['info','contacts','email'],
                                     ['info', 'contacts','tel'],
                                     ['info', 'contacts', 'preferences']],
                        record_path=['employees'], errors='ignore')
norm

,name,id,company,info.president,info.contacts.email,info.contacts.tel,info.contacts.preferences
0,A,001,XYZ pvt ltd,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
1,B,001,XYZ pvt ltd,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
2,C,001,XYZ pvt ltd,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
3,L,002,PQR Associates,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"
4,M,002,PQR Associates,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"
5,N,002,PQR Associates,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"

In [200]:
pd.json_normalize(norm['info.contacts.preferences'])

                      0                    1
0  {'fruits': 'orange'}     {'time': 'noon'}
1  {'fruits': 'orange'}     {'time': 'noon'}
2  {'fruits': 'orange'}     {'time': 'noon'}
3    {'fruits': 'lime'}  {'time': 'evening'}
4    {'fruits': 'lime'}  {'time': 'evening'}
5    {'fruits': 'lime'}  {'time': 'evening'}

In [170]:
def parse_norm_df(dataframe):
    df = pd.DataFrame()
    for i in range(len(dataframe)):
        row = dataframe.iloc[i].copy()
        dict_cols = [i for i in row.values if isinstance(i, dict)]
        list_cols = [i for i in row.values if isinstance(i, list)]
        for col in dict_cols:

lists: ['employees']
lists: []

,name,id,company,location,info.president,info.contacts.email,info.contacts.tel,info.contacts.preferences
0,A,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
1,B,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
2,C,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210,"[{'fruits': 'orange'}, {'time': 'noon'}]"
3,L,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"
4,M,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"
5,N,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210,"[{'fruits': 'lime'}, {'time': 'evening'}]"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN