In [1]:
import duckdb as ddb
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
import duckdb

# Connect to (or create) a DuckDB database file
# You can use ':memory:' for an in-memory database or a specific file path
conn = duckdb.connect('my_database.duckdb')

# Function to create a table
def create_table(conn, table_name, schema):
    create_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({schema});"
    print(create_query)
    conn.execute(create_query)
    print(f"Table '{table_name}' created.")

# Function to insert data into a table
def insert_data(conn, table_name, values):
    # Assuming that values is a tuple that matches the table schema
    placeholders = ', '.join(['?' for _ in values])
    insert_query = f"INSERT INTO {table_name} VALUES ({placeholders});"
    conn.execute(insert_query, values)
    print(f"Data {values} inserted into table '{table_name}'.")

# Function to read data from a table
def read_data(conn, table_name):
    query = f"SELECT * FROM {table_name};"
    result = conn.execute(query).fetchall()
    for row in result:
        print(row)
    return result

# Function to update data in a table
def update_data(conn, table_name, set_column, set_value, condition_column, condition_value):
    update_query = f"UPDATE {table_name} SET {set_column} = ? WHERE {condition_column} = ?;"
    conn.execute(update_query, (set_value, condition_value))
    print(f"Updated {set_column} to {set_value} where {condition_column} = {condition_value}.")

# Function to delete data from a table
def delete_data(conn, table_name, condition_column, condition_value=None):
    if condition_value is not None:
        delete_query = f"DELETE FROM {table_name} WHERE {condition_column} = ?;"
        conn.execute(delete_query, (condition_value,))
        print(f"Deleted rows where {condition_column} = {condition_value} from '{table_name}'.")

# Function to drop (delete) a table
def drop_table(conn, table_name):
    drop_query = f"DROP TABLE IF EXISTS {table_name};"
    conn.execute(drop_query)
    print(f"Table '{table_name}' dropped.")

# Example usage
if __name__ == '__main__':
    # Create a new table
    create_table(conn, 'users', 'id INTEGER, name VARCHAR, age INTEGER')

    # Insert data into the table
    insert_data(conn, 'users', (1, 'Alice', 25))
    insert_data(conn, 'users', (2, 'Bob', 30))

    # Read data from the table
    print("Initial data in 'users' table:")
    read_data(conn, 'users')

    # Update data in the table
    update_data(conn, 'users', 'age', 26, 'name', 'Alice')

    # Read data after the update
    print("Data in 'users' table after update:")
    read_data(conn, 'users')

    # Delete a record from the table
    delete_data(conn, 'users', 'name', 'Bob')

    # Read data after the deletion
    print("Data in 'users' table after deletion:")
    read_data(conn, 'users')

    # Drop the table
    # drop_table('conn, users')
    
    # Close the connection
    conn.close()

CREATE TABLE IF NOT EXISTS users (id INTEGER, name VARCHAR, age INTEGER);
Table 'users' created.
Data (1, 'Alice', 25) inserted into table 'users'.
Data (2, 'Bob', 30) inserted into table 'users'.
Initial data in 'users' table:
(1, 'Alice', 30)
(1, 'Alice', 30)
(1, 'Alice', 30)
(1, 'Alice', 30)
(1, 'Bob', 25)
(1, 'Alice', 25)
(2, 'Bob', 30)
Updated age to 26 where name = Alice.
Data in 'users' table after update:
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Bob', 25)
(1, 'Alice', 26)
(2, 'Bob', 30)
Deleted rows where name = Bob from 'users'.
Data in 'users' table after deletion:
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Alice', 26)
(1, 'Alice', 26)

In [3]:
conn = duckdb.connect('my_database.duckdb')

In [4]:
insert_data(conn, 'users', (1, 'Bob', 25))

Data (1, 'Bob', 25) inserted into table 'users'.

In [5]:
conn.query("SELECT * FROM users")

┌───────┬─────────┬───────┐
│  id   │  name   │  age  │
│ int32 │ varchar │ int32 │
├───────┼─────────┼───────┤
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Bob     │    25 │
└───────┴─────────┴───────┘

In [6]:
delete_query = f"DELETE FROM users WHERE name = 'Alice' AND age = 25;"
conn.query(delete_query)
conn.query("SELECT * FROM users")

┌───────┬─────────┬───────┐
│  id   │  name   │  age  │
│ int32 │ varchar │ int32 │
├───────┼─────────┼───────┤
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Alice   │    26 │
│     1 │ Bob     │    25 │
└───────┴─────────┴───────┘

In [7]:
update_query = f"UPDATE users SET age = 30 WHERE name = 'Alice';"
conn.query(update_query)
conn.query("SELECT * FROM users")

┌───────┬─────────┬───────┐
│  id   │  name   │  age  │
│ int32 │ varchar │ int32 │
├───────┼─────────┼───────┤
│     1 │ Alice   │    30 │
│     1 │ Alice   │    30 │
│     1 │ Alice   │    30 │
│     1 │ Alice   │    30 │
│     1 │ Alice   │    30 │
│     1 │ Bob     │    25 │
└───────┴─────────┴───────┘

In [8]:
query = '''DROP TABLE IF EXISTS ativos;
            CREATE TABLE ativos (
            id INTEGER,
            name VARCHAR,
            dt_vcto INTEGER,
            complemento VARCHAR,
            timestamp TIMESTAMP
            );'''
conn.query(query)

In [9]:
ts = datetime.now()
complemento = {"dt_ini":"20240101",
                "notional":100000}

insert_query = f"""
INSERT INTO ativos
(id, name, complemento, timestamp)
VALUES (12345, 'ndf', {str(complemento)},'{ts}');"""
conn.query(insert_query)

In [10]:
conn.query('SELECT * FROM ativos')

┌───────┬─────────┬─────────┬──────────────────────────────────────────┬────────────────────────────┐
│  id   │  name   │ dt_vcto │               complemento                │         timestamp          │
│ int32 │ varchar │  int32  │                 varchar                  │         timestamp          │
├───────┼─────────┼─────────┼──────────────────────────────────────────┼────────────────────────────┤
│ 12345 │ ndf     │    NULL │ {'dt_ini': 20240101, 'notional': 100000} │ 2024-09-15 18:05:48.572693 │
└───────┴─────────┴─────────┴──────────────────────────────────────────┴────────────────────────────┘

In [11]:
ts = conn.query('SELECT MAX(timestamp) as ts FROM ativos WHERE id = 12345').df().ts.values[0]
# ts
comp = conn.query(f"SELECT complemento FROM ativos WHERE id = 12345 AND timestamp = '{ts}'").df()
eval(comp.complemento.values[0])

{'dt_ini': 20240101, 'notional': 100000}

In [15]:
conn = duckdb.connect('my_database.duckdb')

In [16]:
conn.query('SELECT * FROM teste')

┌───────┬─────────┐
│ teste │  nome   │
│ int64 │ varchar │
├───────┼─────────┤
│     1 │ teste   │
│     2 │ teste   │
│     3 │ teste   │
└───────┴─────────┘

In [21]:
conn.query("EXPORT DATABASE 'ddb/' (FORMAT PARQUET);")

In [22]:
conn2 = duckdb.connect()

In [26]:
conn2.query("SHOW TABLES")

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘

In [27]:
conn2.query("IMPORT DATABASE 'ddb/'")

In [28]:
conn2.query("SHOW TABLES")

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ ativos  │
│ teste   │
│ users   │
└─────────┘